<header id="default-nav-header" class="nav-header nav-header-fixed animated">
    <a id="home-button" href="{{@blog.url}}">
        {{!-- <img src="{{asset "img/icons/icon.png"}}" alt="{{@blog.title}} icon" class="icon rounded hvr-buzz-out" /> --}}
        {{!-- <img src="{{@blog.logo}}" alt="{{@blog.title}} avatar" class="avatar rounded hvr-buzz-out" /> --}}
        <i class="fa fa-home hvr-grow"></i>
      </a>
    <a class="tags-button right">
        <i class="fa fa-search hvr-grow"></i>
    </a>
</header>
