{{!-- Email subscribe form at the bottom of the page --}}
{{#if @labs.subscribers}}
    <section class="gh-subscribe">
        <h3 class="gh-subscribe-title">Subscribe to {{@blog.title}}</h3>
        <p>Get the latest posts delivered right to your inbox.</p>
        {{subscribe_form placeholder="Your email address"}}
        <span class="gh-subscribe-rss">or subscribe <a href="http://cloud.feedly.com/#subscription/feed/{{@blog.url}}/rss/">via RSS</a> with Feedly!</span>
    </section>
{{/if}}
