<!DOCTYPE html>
<html>
    <head>
        <!--[if IE 9]>
        <script type="text/javascript">
            window.location = "/browser-compatibility";
        </script>
        <![endif]-->
        <title>{{meta_title}}</title>
        {{> meta}}
        <link rel="stylesheet" type="text/css" href="{{asset "css/caffeine-theme.css"}}" />
        {{> head-css}}
        <script>
            // to enable Disqus
            var disqus_shortname = 'mycodingblog';
            var profile_resume ='Web Developer';
            var tag_names = ['getting started', 'tutorials', 'flexbox', 'node', 'nodemailer', 'email', 'ghost', 'docker'];
            var gridOptions = {
                columns: 2
            };
        </script>
        {{ghost_head}}
        {{> headscript}}
    </head>
    <body class="{{body_class}}">
        {{> header}}
        {{> aside}}
        <main class="animated">
            <section class="content">
                {{{body}}}
                {{> footer}}
            </section>
        </main>
        {{> tags-overlay}}
        {{ghost_foot}}
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
        <script type="text/javascript" src="https://npmcdn.com/imagesloaded@4.1/imagesloaded.pkgd.min.js"></script>
        <script type="text/javascript" src="https://npmcdn.com/masonry-layout@4.0/dist/masonry.pkgd.min.js"></script>
        <script type="text/javascript" src="https://cdn.jsdelivr.net/scrollreveal.js/3.0.9/scrollreveal.min.js"></script>
        <script src="{{asset "js/caffeine-theme.js"}}" type="text/javascript" charset="utf-8"></script>
        {{> google-analytics}}
        {{> disqus-comment-count}}



    </body>
</html>
