.posts {
    padding: 0;
    margin: 0 20px;
    list-style-type: none;
    text-align: left;
    visibility: hidden;

    > li {
        > a {
            > h2 {
                margin-bottom: 16px;
                line-height: 48px;
                @extend .animated;

                &:hover {
                    color: $hover-color;
                }

                &:first-child {
                    margin-top: 0;
                }
            }
        }
    }

    .description {
        margin-bottom: 16px;
        font-size: 14px;
        color: $gray-dark;
    }

    .divider {
        width: 30%;
        margin: 26px 0;
        border-top: 1px solid $gray-light;
    }

    .material-cover {
        height: 200px;
        margin-bottom: 0;
        position: relative;

        &.no-cover {
            display: none;
        }
    }
}

.post {
    .post-card {
        max-width: $container-medium-width;
        background: white;
        margin: 0 auto;
        @include transition(all 250ms);
        @include shadow(2);
    }

    .post-container {
        padding: 20px 60px;
    }
}


.posts,
.post-header {
    .meta {
        margin: 20px 0 0;
        font-size: 12px;
        color: $gray;
    }
}

.post-header {
    text-align: center;

    .share {
        margin-bottom: 40px;
    }
}

.post-content {
    p {
        img {
            max-width: 100%;
            margin: 24px auto;
            text-align: center;
            border-radius: $border-radius;
        }
    }

    pre {
        width: 95%;
    }

    a {
        transition: all .5s;
        text-decoration: underline;

        &::after {
            position: absolute;
            bottom: -.5px;
            left: 0;
            width: 100%;
            height: 0;
            content: "";
        }

        &:hover,
        &:visited {
            color: $gray-dark;
        }
    }

    .author {
        img {
            display: inline-block;
            height: 22px;
            margin: 0 8px;
            vertical-align: middle;
            border: none;
            box-shadow: none;
        }
    }
}

#post-image {
    max-width: 100%;
    margin-top: 16px;
}

#post-title {
    margin: 30px 0 10px;

    i {
        vertical-align: top;
        font-size: 26px;
    }
}

// Email Subscribe Form
.gh-subscribe {
    border: #e7eef2 1px solid;
    padding: 3rem;
    margin-top: 3rem;
    text-align: center;
    background: #f5f8fa;
    border-radius: 5px;
}
.gh-subscribe-title {
    margin-bottom: 0;
    font-size: 2rem;
    font-family: $serif-font;
}
.gh-subscribe p {
    margin-top: 0;
    font-size: 1rem;
    font-family: $sans-font;
}
.gh-subscribe form {
    display: flex;
    justify-content: center;
    margin: 20px 0 0;
}
.gh-subscribe .form-group {
    flex-grow: 1;
    max-width: 300px;
}
.gh-subscribe .subscribe-email {
    box-sizing: border-box;
    width: 100%;
    margin: 0;
    border-radius: 4px 0 0 4px;
    transition: all ease -0.5s;
}
.gh-subscribe .subscribe-email:focus {
    border: #5ba4e5 1px solid;
    transition: all ease 0.2s;
}
.gh-subscribe button {
    @extend .btn;
    margin-left: -1px;
    border-radius: 0 4px 4px 0;
    background: $primary-color;
    color: #fff;
    transition: background .3s ease;
    border: none;
    &:hover {
        cursor: pointer;
        background: $secondary-color;
        border: none;
        color: #fff;
    }
}
.gh-subscribe-rss {
    font-family: $sans-font;
    font-size: 1rem;
    line-height: 2rem;
}
