@mixin inline-code-style {
    padding: 2px 4px;
    font-family: $code-font;
    font-size: 14px;
    font-weight: $font-weight-normal;
    color: $code-red;
    border: 1px solid #d9d9d9;
    border-radius: 3px;
}

@mixin background-filter {
    box-shadow: inset 0 0 100px rgba(0,0,0,.4);
    background-color: rgba(0,0,0,.5);

}

@mixin center-absolute {
    display: flex;
    align-items: center;
    justify-content: center;
}

@mixin font-shadow {
    text-shadow: 2px 2px 10px $midnight-blue, 2px 2px 10px $midnight-blue;
}

@mixin btn-cover {
    position: relative;
    display: block;
    -webkit-font-smoothing: antialiased;
    letter-spacing: 1px;
    color: $slate-white;
    border-radius: 20px;
    text-shadow: none;
    font-weight: $font-weight-bold;
    &:hover {
        opacity: 1;
    }
}

@mixin btn-cover-with-border {
    border: 1px solid $slate-white;

    &:hover {
        border: 1px solid $primary-color;
    }
}

@mixin placeholder {
    ::-webkit-input-placeholder {
        @content
    }
    :-moz-placeholder {
        @content
    }
    ::-moz-placeholder {
        @content
    }
    :-ms-input-placeholder {
        @content
    }
}

@mixin shadow($level: 1) {
  @if $level == 1 {box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);}
  @else if $level == 2 {box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);}
  @else if $level == 3 {box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);}
  @else if $level == 4 {box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);}
  @else if $level == 5 {box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);}
}
