/* COLORS */

$gray-darkest          : #333;
$gray-darker           : #666;
$gray-dark             : #999;
$gray                  : #ccc;
$gray-light            : #ddd;
$gray-lighter          : #eee;
$gray-lightest         : #f8f8f8;

$slate-white           : #F6F4E9;
$red                   : #7C221A;
$code-red              : #ca192c;
$brown                 : #85715F;
$slate-gray            : #39424B;
$slate-green           : #56817A;
$midnight-blue         : #222F38;

$navy-blue             : #1976D2;
$dodger-blue           : #2196F3;
$iris-blue             : #00BCD4;

$primary-color         : $navy-blue;
$secondary-color       : $iris-blue;

$cover-secondary       : rgba(#5f2c82, .1);
$cover-primary         : rgba(#49a09d, .2);

$link-color            : #2895F1;
$pre-hover-color       : lighten($primary-color, 15%);
$hover-color           : $secondary-color;
$hover-color-inverse   : $slate-white;

$divider-color         : rgba(255, 255, 255, .14);

/* FONT */

$unit                  : 1rem;

$sans-font             : 'Raleway', sans-serif;
$sans-font-fallback  : Geneva, sans-serif;
$serif-font            : 'Roboto Slab', Georgia, serif;
$serif-font-fallback   : Georgia, serif;
$code-font             : Consolas, Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono, Bitstream Vera Sans Mono, Courier New, monospace, serif;
$quote-font            : "freight-text-pro", Georgia, Cambria, "Times New Roman", Times, serif;

$font-weight-thin      : 100;
$font-weight-normal    : 300;
$font-weight-bold      : 700;

$margin-title          : $unit * 2.5;
$margin-h1             : $margin-title * 1.1;
$margin-h2             : $margin-title * 0.8;
$margin-h3             : $margin-h2 * 0.8;
$margin-h4             : $margin-h3 * 0.8;
$margin-h5             : $margin-h4 * 0.8;
$margin-h6             : $margin-h5 * 0.8;

$font-title            : $unit * 2;
$font-h1               : $font-title * 1.1;
$font-h2               : $font-title * 0.85;
$font-h3               : $font-h2 * 0.85;
$font-h4               : $font-h3 * 0.85;
$font-h5               : $font-h4 * 0.85;
$font-h6               : $font-h5 * 0.85;

/* ASIDE */

$animation-time  : 350ms;
$animation       : cubic-bezier(.645,.045,.355,1);
$aside-height-collapsed: 340px;

/* PAGE */
$container-large-width       : 1100px;
$container-medium-width      : 900px;
$container-small-width       : 700px;

/* OTHER */

$border-radius         : 3px;
$astronaut-size        : 20vh;
